.footer {
  background-color: $black;
  padding-top: 90px;
  color: $white;

  .container {
    padding: 0 45px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 338px;
}

//form
.footer__form {
  width: 43%;
  margin-left: 6px;

  h2 {
    margin: 0;
    margin-bottom: 10px;
    font-family: $cormorant;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%; /* or 44px */
    letter-spacing: 0.02em;
  }

  p {
    margin: 0;
    margin-bottom: 17px;
    font-family: $poppins;
    font-size: 16px;
    line-height: 130%; /* or 21px */
    color: $grey;
  }

  form {
    display: flex;
  }

  input {
    width: 60%;
    padding: 30px 50px 10px 0;
    background-color: transparent;
    color: $white;
    border: none;
    border-bottom: 1px solid $white;
    cursor: pointer;
    box-sizing: border-box;


    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
    }

    &:hover,
    &:focus {
      border-color: $footer-hover;

      &::placeholder {
        color: $footer-hover;
      }
    }
  }
}

.footer__form-btn {
  width: 30%;
  height: 56px;
  align-self: center;
  padding: 10px 0 10px 10px;
  font-family: $poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%; /* or 21px */
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $white;
  color: $white;
  cursor: pointer;

  svg {
    stroke: $white;
  }

  &:hover svg {
    stroke: $footer-hover;
  }

  &:hover {
    color: $footer-hover;
    border-bottom: 1px solid $footer-hover;
  }
}

//menu
.footer__menu {
  display: flex;
  width: 440px;
  padding-top: 6px;
}

.footer__menu-list {
  margin: 0;
  padding: 0 10px;
  margin-right: 15px;
}

.footer__menu__item {
  padding: 0 18px;
  margin-bottom: 22px;
  box-sizing: border-box;
}

.footer__menu__link {
  font-family: $poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%; /* or 21px */
  color: $white;

  &:hover,
  &:focus {
    color: $footer-hover;
    }

  &:active {
    color: rgba($footer-hover,0.5);
  }
}


//social
.social {
  width: 119px;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  list-style: none;
}

.social__item {
  margin-bottom: 22px;
}

.social__link {
  font-family: $poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%; /* or 21px */
    color: $white;

    svg {
      fill: white;
    }

    &:hover svg,
    &:focus svg {
      fill: $footer-hover;
    }

    span {
      margin-left: 10px;
    }

    &:hover,
    &:focus {
      color: $footer-hover;
    }
}


//*
//tablet
@media (max-width: $tablet-width) {
  .footer {
    padding-top: 50px;

    .container {
      padding: 0 40px;
    }
  }
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer__form {
    width: 90%;
  }

  .footer__menu {
    width: 464px;
    padding-top: 49px;
  }

  .footer__menu-list {
    padding: 0 10px 0 5px;
    margin: 0 71px 0 0;
  }

  .footer__menu__item {
    padding: 0;
    margin-bottom: 22px;
  }

  .social {
    padding-top: 48px;
  }
}

//*
//mobile
@media (max-width: $mobile-width) {
  .footer {
    .container {
      padding: 0 15px;
    }
  }
  .footer__wrapper {
    flex-direction: column;
  }

  .footer__form {
    width: 100%;
    margin-left: 0;
  }

  .footer__menu {
    width: 100%;
    flex-direction: column;
  }

  .footer__menu-list {
    margin-bottom: 50px;
  }

  .social {
    display: flex;
    width: 100%;
    padding-top: 0;
  }

  .social__link {
    margin-right: 30px;
    span {
      display: none;
    }
  }
}
