//fonts
$poppins: 'Poppins', 'Arial', sans-serif;
$cormorant: 'Cormorant Garamond','Arial', sans-serif;
//colors
$white: #ffffff;
$black: #000000;
$grey: #9B9997;
$main: #1D1613;
$footer-hover: red;


//viewports
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1439px;

$retina-dpi: 144dpi;
$retina-dppx: 2dppx;
//
//
//
//
//
