//fonts
$popins: 'Poppins', 'Arial', sans-serif;
$cormorant: 'Cormorant Garamond','Arial', sans-serif;
//colors
$white: #ffffff;
$black: #000000;
$grey: #9B9997;
$main: #1D1613;

//
//
//cormorant  bold,600
//  italic normal, 500
//
