// Reset
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

button {
  display: block;
  // width: 100%;
}

.btn-popap {
  width: 100%;
  padding: 23px 0;
  font-family: $poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%; /* or 21px */
  background-color: $brown;
  color: $white;
  border: 1px solid $brown;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $white;
    color: $brown;
  }
  &:active {
    border-color: rgba($brown, 0.3);
    color: rgba($brown, 0.3);
  }
}
